
/* Container för innehåll */
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70vh;
}

/* Bild */
.cat-pic {
    height: 120px;
    transform: rotate(90deg);
    margin-bottom: -30px;
}
