<main>
  <article class="content">
    <h2>Startsidan</h2>
    <p>
      Det här är en webbplats som skapats för en uppgift i kursen DT208G
      TypeScript som ges på Mittuniversitetet.
    </p>
    <br />
    <p>
      Webbplatsen är utformad med hjälp av ramverket Angular och därmed också
      TypeScript-kod. Utifrån uppgiftens krav så innehåller webbplatsen tre
      sidor med startsidan inkluderad. Startsidan har en bild som är tagen från
      Pixabay.com. "Om sidan" beskriver arbetet och lösningen av uppgiften samt
      dragna slutsatser. På sidan "Konvertering" finns konvertering av värden
      -från meter till fot och från celsius till fahrenheit (och vice versa).
    </p>
  </article>

  <div class="img-container">
    <img src="../../assets/images/cat-8619611.svg" alt="katt" class="cat-pic" />
  </div>
</main>
